/* styles.css */
  body {
    background-color: #121212;
    color: white;
  }
  
  .dark-mode {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  input, textarea, select {
    background-color: #333;
    color: white;
  }
  
  .form-control:focus {
    border-color: #6200ea;
    background-color: #333;
  }
  
  .btn-primary {
    background-color: #6200ea;
    border-color: #6200ea;
  }
  
  .btn-secondary {
    background-color: #444;
    border-color: #444;
  }

  .container{
    margin-top: 80px;
    margin-bottom: 40px;
  }
  